/* Navbar */
.plusIcon,
.navbarIcon {
    width: 1.5rem;
    height: 1.5rem;
}

.navbarImage {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}

.profileImage {
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.notImage {
    padding: 0rem 2rem;
}

.link {
    text-decoration: none;
}

.icons {
    scale: 120%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    gap: 1rem;
}

.profileButton {
    display: flex !important;
    align-items: center;
    border-radius: 15px !important;
    gap: 1rem;
    border: 2px solid black !important;
    scale: 80%;
    transition: box-shadow .5s;
}

.profileButton:hover {
    box-shadow: 5px 5px;
}

.topRight {
    display: flex;
}

.topRight button:hover {
    color: black !important;
    background-color: white !important;
}


/* Home */
.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* PostCard */
.PostCard {
    width: 55%;
    margin-bottom: 2rem;
    padding: 1.5rem;

    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px black;
    transition: background-color 0.3s;
}

.PostCard:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.postBody {
    height: 1.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.postLinks {
    /* d-flex justify-content-between align-items-center */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}

.dropdown-toggle::after {
    display: none !important;
}

.accountImage {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border: 2px solid black;
}

/* .editUser {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
} */

.editProfileInputs {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.accountImageSettings {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    gap: 2rem;
    /* border: 2px solid black; */
}

.accountImageSettings button,
label {
    border-radius: 10px;
    scale: 110%;
}

.register {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 2rem 2rem 2rem;
    letter-spacing: 0.1rem;

    border: 2px solid black;
    border-radius: 15px;
}

.userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
    gap: 5rem;
}

.userInfoText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.showPost {
    width: 70%;
    margin-top: 2rem;
}

.commentBox {
    width: 70%;
}

#signupText {
    font-size: 5rem;
}

#loginText {
    font-size: 3rem;
}

.register div label {
    margin-right: 1rem;
}

.register div input {
    width: 22rem;
    height: 2.5rem;
    letter-spacing: 0.1rem;
}

.newPostOverlay {
    scale: 120%;
    backdrop-filter: blur(2px);
    padding-top: 5rem;
}

@media screen and (max-width: 1024px) {
    .PostCard {
        width: 85%;
    }
}

@media screen and (max-width: 768px) {
    .PostCard {
        width: 90%;
    }

    .userInfo {
        scale: 90%;
    }

    .showPost {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .PostCard {
        width: 100%;
    }
    .postLinksText {
        display: none;
    }

    .userInfo {
        flex-direction: column;
        gap: 2rem;
    }

    .userInfoText {
        flex-direction: column;
        gap: 2rem;
    }

    .usernameText {
        font-size: 3rem;
    }

    .navbarImage {
        width: 2.5rem;
        height: 2.5rem;
    }

    .showPost,
    .commentBox {
        width: 97%;
    }

    .newPostOverlay {
        scale: 90%;
    }
}

@media screen and (max-width: 400px) {
    /* .PostCard {
        width: 100%;
    } */

    #createText {
        display: none;
    }
}